In [4]:
import pandas as pd # import the liberary

In [26]:
x = [1,2,3,4,5,6,7]

var = pd.Series(x,index=['a','s','d','f','g','h','j'], name='Suryansh Singh', dtype=float)
print(var)
print(var['f'])
print(type(var))

a    1.0
s    2.0
d    3.0
f    4.0
g    5.0
h    6.0
j    7.0
Name: Suryansh Singh, dtype: float64
4.0
<class 'pandas.core.series.Series'>

In [29]:
dic = {'Name':["R",'C','C++','Java'],'Year':[4,1,2,3],'Popluar':[1,4,3,2]}

var1 = pd.Series(dic)
print((var1))
print(type(var1))

Name       [R, C, C++, Java]
Year            [4, 1, 2, 3]
Popluar         [1, 4, 3, 2]
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
s =pd.Series(12,index=[1,2,3,4,5,6,7,8])
print(s)

1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
dtype: int64

In [34]:
s1 = pd.Series(121,index=[1,2,3,5])
s2 = pd.Series(121,index=[1,2,3])
print(s1 + s2)

1    242.0
2    242.0
3    242.0
5      NaN
dtype: float64

DATAFRAME

In [ ]:
data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

variable = pd.DataFrame(data)

print(variable)

In [40]:
dic2 = {'Name':["R",'C','C++','Java'],'Year':[4,1,2,3],'Popluar':[1,4,3,2]}

dict2 = pd.DataFrame(dic2)
print(dict2)
print(type(dict2))

   Name  Year  Popluar
0     R     4        1
1     C     1        4
2   C++     2        3
3  Java     3        2
<class 'pandas.core.frame.DataFrame'>